@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

/* Состояния index*/
.navigation-link:hover {
  background-color: #83B3D3;
}

.navigation-link:focus {
  background-color: #E6E6E6;
}

.footer-social-item:hover,
.catalog-hotels-search-list-item:hover,
.button:hover,
.hotel-card-button-favorites:hover {
  background-color: #7DB54F;
}

/* Состояния Hotels */
.footer-social-item:focus,
.catalog-hotels-search-list-item:focus,
.button:focus,
.hotel-card-button-favorites:focus {
  outline: 2px solid #83B3D3;
  background-color: #7DB54F;
}

.pagination-item:hover {
  background-color: #E6E6E6;
}

.pagination-item:focus {
  outline: 2px solid #dbb590;
  background-color: #E6E6E6;
}

/* header */
.page-header {
  margin: -5px auto;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 24px 19px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-user {
  margin-left: auto;
}

.navigation-list a {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.heart {
  margin-right: 20px;
}

.button-header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  align-self: center;
  border-radius: 6px;
  border: none;
  padding: 8px 28px 9px 28px;
}

/* main */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-page-welcome {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
  background-image: url("../images/main-page/index-background.jpg");
  background-color: #83B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-page-welcome-divider {
  position: absolute;
  top: 485px;
}

.main-header-title {
  width: 820px;
  margin-top: 63px;
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.header-subtitle {
  margin-bottom: 79px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

/* advantages */
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  padding: 104.5px 0;
}

.advantages-photo {
  margin-top: -1px;
  margin-bottom: -3px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.additional-advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  list-style-type: none;
}

.additional-advantages-item {
  width: 400px;
  padding: 106px 0;
  margin-top: -2px;
  margin-bottom: -2px;
}

.advantages-item-blue-square {
  background-color: #83B3D3;
}

.advantages-item-grey-square {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-deep-grey-square {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-white-square {
  background: #FFFFFF;
}

.advantages-item .advantages-title,
.additional-advantages-item .additional-advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item p,
.advantages-item .advantages-description,
.additional-advantages-item .additional-advantages-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-title {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.advantages-description-number::before {
  content: "— ";
}

.advantages-description-number::after {
  content: " —";
}

.advantages-item-blue-square .advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-item-blue-square p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.additional-advantages-description {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}


.advantages-item-blue-square .advantages-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.search-hotel {
  text-align: center;
  margin-bottom: 91px;
}

.search-hotel-title {
  margin-top: 91px;
  margin-bottom: 25px;
}

.search-hotel-subtitle {
  width: 620px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 71px;
}

.search-hotel h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-hotel-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  padding: 15px 150px 9px 150px;
}


/* footer */
.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.field {
  width: 600px;
  min-height: 60px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 0 19px 0 22px;
  border-radius: 6px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-list {
  display: flex;
  width: 107px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 16px;
}

.newsletter {
  padding: 60px 0;
  background-image: url("../images/main-page/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
}

.newsletter-catalog {
  padding: 60px 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.newsletter-form {
  margin: 42px auto;
}

.page-footer-subtitle {
  width: 420px;
  margin: 15px auto;
}

.page-footer-subtitle-no-backgound {
  width: 520px;
  margin: 46px auto;
}

.page-footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page-footer-title-no-backgound {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-footer-subtitle-no-backgound {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.page-footer-title p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.twitter {
  background-image: url("../images/footer/twitter-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../images/footer/facebook-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../images/footer/youtube-3.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.Telephone {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 30px;
  }

.newsletter-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 6px;
  padding: 17px;
  }

/* catalog */
.inner-header {
  display: block;
  padding-bottom: 1px;
  background-image: url("../images/catalog/catalog-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  margin: -1px auto 0 auto;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  margin: 45px 72px 60px 76px;
}

.catalog-hotel-group-header {
  display: flex;
  justify-content: space-around;
  width: 1058px;
  margin: 0 auto;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 18px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 299px;
  padding: 20px;
}

.hotel-card-rating-image {
  width: 140px;
  border: #000000 1px solid;
}

.hotel-card-price {
  width: 140px;
}

.hotel-card-button-more,
.hotel-card-button-favorites {
  width: 140px;
  text-decoration: none;
}

.show-more-button {
  margin: 34px auto;
  text-align: center;
  border-top: #E6E6E6 1px solid;
  border-bottom: #E6E6E6 1px solid;
}

.hotel-list-show-more {
  width: 620px;
}

.inner-header-title {
  margin: 0 601px 5px 71px;
  padding-top: 35px;
  width: 700px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  width: 160px;
  list-style-type: none;
  margin-top: 0;
  margin-left: 35px;
  margin-bottom: 45px;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-hotels-filter {
  margin-bottom: 60px;
}

.catalog-filter-title,
.price-range {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-title {
  margin-bottom: 30px;
}

.price-range {
  margin-bottom: 34px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.catalog-filter-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.control-catalog-filter-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-group-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.catalog-header-button {
  width: 160px;
  margin-top: 34px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 6px;
  padding: 8px 28px 9px 28px;
}

.reset {
  width: 160px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(255 , 255 , 255 , 0);
  border: none;
  padding: 8px 28px 9px 28px;
}

.catalog-hotels-search {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-hotels-main {
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-hotel-group-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
  padding: 0;
  border: 0 none;
}

.catalog-hotels-search-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.catalog-hotels-search-list-item {
  display: flex;
  min-width: 48px;
  max-height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
}

.hotel-list-form-header-legend {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 150px;
}

.select-control {
  width: 287px;
  max-height: 48px;
  margin-top: 24.8px;
  margin-bottom: 24.8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hotel-card-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 16px;
}

.hotel-card-button-more {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  margin-bottom: 16px;
  border: none;
  border-radius: 6px;
  padding: 8px 0 9px 0;
}

.hotel-card-button-favorites {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  margin-bottom: 16px;
  border: none;
  border-radius: 6px;
  padding: 8px 0 9px 0;
}

.hotel-card-price-rating {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 9px 25px;
  background-color: #E6E6E6;
  border: none;
  border-radius: 6px;
}

.hotel-list-show-more {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  margin: 30px auto;
  padding: 17px;
  border-radius: 6px;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  min-width: 55px;
  margin-right: 8px;
  text-align: center;
  background-color: #83B3D3;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 6px;
}

.pagination-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-on-page-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 386px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels-on-page-label-title {
  margin-top: 30px;
}

.hotels-on-page {
  width: 160px;
  max-height: 48px;
  margin-left: 37px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333; border: 2px solid #E6E6E6;
  border-radius: 4px;
}
